/* Globar Color */
:root{
    --hero-and-footer: #1F2937;
    --hero-main-text: #f9faf8;
    --hero-link-and-seconday-text: #e5e7eb;
    --header-logo-text: #f9faf8;
    --button-color: #3882f6;
    --info-header: #1f2937;
    --quote-section-color: #e5e7eb;
    --quote-text-color: #1f2937;
}

html{
    font-family: Roboto, sans-serif;
    height: 100%;
}

/* outlines*/
body{
    display: flex;
    flex-direction: column;
    min-height: 100%
}


*{
    margin: 0px;
    padding: 0px;
}

/* Hero */
#hero{
    background-color: var(--hero-and-footer);
    padding-right: 100px;
    padding-left: 200px;
    height: auto;
    
}

#navbar{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlink{
    margin-right: 200px;
}

nav p{
    font-weight: 700;
    font-size: 24px;
    color: var(--hero-main-text);
}

nav > ul > li{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    
}

nav > ul > li > a{
    text-decoration: none;
    list-style: none;
    color: var(--hero-main-text);
}

.lefthero p{
    font-size: 18px;
    color: var(--hero-link-and-seconday-text)
}

.lefthero h1{
    color: var(--hero-main-text);
    font-weight: 700;
    font-size: 48px;
}

.rightherocontent{
    background-color: gray;
    color: var(--header-logo-text);
    height: 300px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-hero{ 
    background-color: var(--button-color);
    color: white;
    width: 100px;
    height: 30px;
    border: 2px solid var(--button-color);
    border-radius: 10px;
    margin-top: 20px;
   
}

div.container-main{
    /* outline: 2px solid gold; */
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
  
}

div.lefthero{
    /* outline: 2px solid slateblue; */
    display: block;
    text-align: left;
    width: 500px;
    align-self: center;
}



div.righthero{
    /* outline: 2px solid salmon; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* section 2 */
#section2{
    padding-right: 200px;
    padding-left: 200px;
    height: auto;
    text-align: center;
    margin-top: 20px;
}

#section2 h2{
    font-size: 36px;
    font-weight: bold;
    color: var(--info-header);
}

div.container-wrapper{
    padding-left: 100px;
    padding-right: 100px;
    margin: 30px;
    /* outline: 2px solid saddlebrown; */
    display: flex;
    justify-content: center;
    gap: 50px;
}

div.box-container{
    /* outline: 2px solid chartreuse; */
    max-width: 107px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

div.box-container p{
    font-size: 12px;
}
div.box{
    border: 2px solid var(--button-color);
    width: 100px;
    height: 100px;
    border-radius: 10%;

}

/* section 3 */
blockquote{
    background-color: var(--quote-section-color);
    margin-top: 20px;
    padding: 50px 300px 50px 300px;
    align-items: center;

}

.blockquote-text{
    font-style: italic;
    font-size: 36px;
}
.blockquote-text:not(:last-child){
    margin: 5px;
}

.blockquote-text.blockquote-credit{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-align: right;
}

/* section 4 */
#section4{
    padding: 100px 400px 100px 400px;
    color: var(--header-logo-text)
}
div.container-section4{
    background-color: #3882f6;
    padding: 0px 100px 0px 100px;
    height: 120px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 100px;
   
}

.signup-button{
  background-color: var(--button-color);
  border: 2px solid var(--header-logo-text);
  color: white;
  width: 100px;
  height: 30px;
  border-radius: 10px;
}




/* footer */
footer{
    background-color: var(--hero-and-footer);
    margin-top: auto;
}


#footer-section{
    color: var(--header-logo-text);
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}